/*------Basic Layout------*/

* {
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.header-section {
    padding-left: 1rem;
    padding-right: 1rem;
}

.nav-item1, .nav-item2, .nav-item3 {
    padding: .75rem;
    margin-bottom: .25rem;
    background-color: orange;
    width: 285px;
    border-radius: 15px;
    font-weight: bold;
}

.introduction {
    padding: 1.5rem 1rem;
}

.intro-image {
    width: 80vw;
}

.contact-section, header, footer {
    background-color: rgb(211, 206, 206);
}

.portfolio-heading {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#portfolio {
    text-transform: uppercase;
}

a {
	text-decoration: none;
}

a:link {
   color: black; 
}

a:visited {
    color: purple;
}

a:hover {
    color: green;
}

h2 {
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
}

p {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
}

.content-section {
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: 2rem;
}

.content1 {
    padding-bottom: 1rem;
}

.main-nav-bottom {
    display: none;
}

.contact-section {
    padding: 2rem 1rem;
}

#contact {
    text-transform: uppercase;
}

.contact-item1 {
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    text-align: center;
}

.contact-item2, .contact-item3 {
    padding-bottom: 1rem;
    text-align: center;
}

.footer-section {
    border-top: 1px solid darkgray;
    padding: .5rem 1rem;
}

.back-to-top {
    font-weight: bold;
}


/*------FlexBox------*/


.header-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.nav-item1, .nav-item2, .nav-item3 {
    display: flex;
    justify-content: center;
}

.introduction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio-heading {
    display: flex;
    justify-content: center;
}

.content-section {
    display: flex;
    flex-direction: column;
}

.contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-items {
    padding-top: 1rem;
}

.footer-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/*------Media Queries------*/

@media (min-width: 768px) {
    
    h2 {
        font-size: 18px;
    }

    .header-section {
        padding-top: 1rem;
        padding-bottom: 2rem;
    }

    .main-nav-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav-item1, .nav-item2, .nav-item3 {
        background-color: rgb(211, 206, 206);
        width: 100px;
    }

    .introduction {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        padding-left: 0;
        padding-top: 0;
    }

    .intro-text {
        text-align: left;
    }

    .intro-image {
        width: 35vw;
    }

    .content-section {
        padding-left: 0;
        padding-right: 0;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .content1 {
        width: 47vw;
        padding-bottom: 2rem;
    }

    .contact-section {
        padding: 2rem 10rem;
    }

    .main-nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .back-to-top {
        display: none;
    }
}

@media (min-width: 1024px) {
    
    .header-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        padding-left: 2rem;
        padding-right: 2rem;;
        padding-bottom: 1rem;
    }

    .nav-item1, .nav-item2, .nav-item3 {
        background-color: rgb(211, 206, 206);
        width: 100px;
    }

    .introduction {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: center;
        padding-top: 0;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    .intro-text {
        text-align: left;
    }

    .intro-image {
        width: 45vw;
    }

    .content-section {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .content1 {
        width: 30vw;
        padding-bottom: 2rem;
    }

    .contact-section {
        padding-left: 18rem;
        padding-right: 18rem;
    }

    .main-nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-section {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .back-to-top {
        display: none;
    }
}